/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */
  
  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
    /* General Styles */

    html {
        font-size: 16px;
    }

    body .homepage-body {
        background-color: #ebebeb;
        font-size: 1em;
        font-family: 'Source Sans Pro', sans-serif;
        color: #2b2b2b;
        text-align: left;
    }

    body .work-page-body {
        background-color: #f2d9e6;
        font-size: 1em;
        font-family: 'Source Sans Pro', sans-serif;
        color: #2b2b2b;
        text-align: left;
    }

    ul,
    ol {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: #828282;
        text-decoration: none;
    }

    h2 {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 2.25em;
        margin: 0;
    }

    h3 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size: 2.25em;
        margin: 20px 0;
    }

    p {
        font-size: 0.875em;
        line-height: 1.285;
    }

    img {
        width: 100%;
    }

    .content-wrapper {
        width: 90%;
        margin: 0;
    }

    /* Base Header - Footer Styles */

    header.homepage-header,
    footer.homepage-footer {
        background-color: #ebebeb;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
  
    header.homepage-header {
      padding: 20px 0 20px 0;
      background:url('../img/laptop-background.jpg');
      background-size: cover;
      background-position: center;
      min-height: 450px;
    }
  
    header.homepage-header .content-wrapper {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
  
    header.homepage-header h1 {
        font-family: 'Lora', serif;
        font-size: 1.875em;
        color: #7A9159;
    }
  
    .header-divider {
        background: #3a3a3a;
        height: 1px;
        width: 100%;
        margin: 10px 0 10px 0;
    }
  
    header.homepage-header nav {
        font-size: 1.125em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 15px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
    }
  
    header.homepage-header nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }
  
    header.homepage-header nav ul li {
        font-size: 1.125em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 5px;
    }
  
    header.homepage-header nav ul li a {
        color: #3a3a3a;
        text-decoration: none;
    }
  
    header.homepage-header h2 {
        width: 90%;
        font-family: 'Lora', serif;
        font-size: 2.825em;
        font-weight: 700;
        line-height: 1.115;
        color: #fafafa;
        padding: 75px 10px;
    }
  
    header.homepage-header h2 span {
        color: #2b2b2b;
    }
  
    footer.homepage-footer {
        text-align: center;
    }
  
    footer.homepage-footer p {
        margin: 0;
    }
  
    footer.homepage-footer .content-wrapper {
        width: 95%;
        margin: 50px 0;
    }

    footer.homepage-footer .social-icons {
        display: flex;
        justify-content: space-around;
        margin: 25px 0;
    }

    footer.homepage-footer .social-icons p {
        font-size: 1.3125em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    footer.homepage-footer .social-icons p i {
        font-size: 1.125em;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }
  
    footer.homepage-footer #envelope {
        width: 20px;
        height: 20px;
    }

    /* ==========================================================================
      Work Page
    ========================================================================== */

    header.work-page-header, footer.work-page-footer {
        background-color: #f2d9e6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    header.work-page-header {
        padding: 20px 0;
        background:url('../img/creating.png');
        background-size: cover;
        background-position: center;
        background-color: #f2d9e6;
        min-height: 450px;
    }

    header.work-page-header .content-wrapper {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    header.work-page-header h1 {
        font-family: 'Lora', serif;
        font-size: 1.875em;
        color: #7A9159;
    }

    .header-divider {
        background: #3a3a3a;
        height: 1px;
        width: 100%;
        margin: 10px 0;
    }

    header.work-page-header nav {
        font-size: 1.125em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 15px 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
    }

    header.work-page-header nav ul {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    header.work-page-header nav ul li {
        font-size: 1.125em;
        font-weight: 400;
        text-transform: uppercase;
        padding: 0 5px;
    }

    header.work-page-header nav ul li a {
        color: #3a3a3a;
        text-decoration: none;
    }

    header.work-page-header h2 {
        width: 90%;
        font-family: 'Lora', serif;
        font-size: 2.825em;
        font-weight: 700;
        line-height: 1.115;
        color: #9b9b9b;
        text-align: center;
        padding: 135px 0 0 0;
    }

    header.work-page-header h2 span {
        color: #2b2b2b;
    }

    footer.work-page-footer {
        text-align: center;
    }

    footer.work-page-footer p {
        margin: 0;
    }

    footer.work-page-footer .content-wrapper {
        width: 95%;
        margin: 50px 0;
    }

    footer.work-page-footer .social-icons {
        display: flex;
        justify-content: space-around;
        margin: 25px 0;
    }

    footer.work-page-footer .social-icons p {
        font-size: 1.3125em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer.work-page-footer .social-icons p i {
        font-size: 1.125em;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    }

    footer.work-page-footer #envelope {
        width: 25px;
        height: 20px;
    }

    /* -------------------- Mobile Styles - Homepage -------------------- */
   
   /* About me */

   .about-me {
       background-color: #ebebeb;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-flow: row wrap;
   }

   .about-me h2 {
       font-family: 'Lora', serif;
       font-size: 2.25em;
       font-weight: 700;
       color: #2b2b2b;
       padding: 30px 0;
   }

   .about-me .bio {
       font-family: 'Source Sans Pro', sans-serif;
       font-size: 1.375em;
       color: #7f7f7f;
   }

   /* Skills */
   
   .skills {
       background-color: #d7c3ba;
       text-align: center;
   }

   .skills .two-columns {
       padding: 30px 0;
    }

   .skills h3 {
        font-family: 'Lora', serif;
        font-size: 2em;
        font-weight: 700;
        line-height: 1.5;
        width: 100%;
        margin: 0;
        padding: 10px 0;
   }

   .skills ul li {
        font-family: 'Lora', serif;
        font-size: 1.125em;
        font-weight: 400;
        line-height: 1.625;
   }

   /* Footer */

   footer.homepage-footer {
       background-color: #ebebeb;
       text-align: center;
       flex-direction: column;
   }

   #contact-img {
       width: 220px;
       height: 160px;
       border: 12px solid #ffffff;
   }

   footer.homepage-footer .footer-content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       flex-direction: column;
   }

   footer.homepage-footer #email-header, footer.homepage-footer ul {
       font-family: 'Lora', serif;
       font-size: 1.5em;
       font-weight: 700;
       line-height: 1.25;
       margin-bottom: 40px;
   }
   
   footer.homepage-footer #envelope {
       padding: 0 10px 0 10px;
   }

   footer.homepage-footer #email-header {
       font-family: 'Lora', serif;
       font-size: 1.5em;
       font-weight: 700;
       margin: 20px 0;
   }

   footer.homepage-footer a {
       text-decoration: none;
       color: #c49075;
       font-weight: bold;
       font-size: 1.25em;
   }

   footer.homepage-footer ul {
       list-style: none;
   }

   footer.homepage-footer ul img {
       padding-right: 48px;
   }

    /* ==========================================================================
      Work Page
    ========================================================================== */

    /* Header */

    header.work-page-header nav {
        font-size: 0.875em;
    }

    /* Projects - Work */

    .work {
        background-color: #f2d9e6;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
    }

    .work h3 {
        margin: 0 0 15px 0;
        font-size: 1.5em;
        font-weight: 700;
    }

    .work a {
        color: #3a3a3a;
        text-transform: uppercase;
    }

    .work article {
        width: 75%;
        margin: 20px 0;
    }

    .work figure {
        width: 75%;
        padding: 0;
    }

    .work .projects {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: row wrap;
    }

    .work p {
        text-align: center;
        margin: 0;
    }

    .work p span {
        color: #000000;
        font-size: 1.143em;
        font-weight: 700;
    }

    /* Footer */

    footer.work-page-footer {
        background:url('../img/footer-background.png');
        background-color: #f0edee;
        background-size: cover;
        background-position: center;
        text-align: center;
        flex-direction: column;
    }

    #contact-img {
        width: 220px;
        height: 160px;
        border: 12px solid #ffffff;
    }

    footer.work-page-footer .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    footer.work-page-footer #email-header, footer ul {
        font-family: 'Lora', serif;
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 40px;
    }

    footer.work-page-footer #envelope {
        padding: 0 10px;
    }

    footer.work-page-footer #email-header {
        font-family: 'Lora', serif;
        font-size: 1.5em;
        font-weight: 700;
        margin: 20px 0;
    }

    footer.work-page-footer a {
        text-decoration: none;
        color: #d2a892;
        font-weight: bold;
        font-size: 1.25em;
    }

    footer.work-page-footer ul {
        list-style: none;
    }

    footer.work-page-footer ul img {
        padding-right: 48px;
    }
   
   
   /* ==========================================================================
      Helper classes
      ========================================================================== */
   
   /*
    * Hide visually and from screen readers
    */
   
    .hidden {
        display: none !important;
      }
      
      /*
       * Hide only visually, but have it available for screen readers:
       * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
       *
       * 1. For long content, line feeds are not interpreted as spaces and small width
       *    causes content to wrap 1 word per line:
       *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
       */
      
      .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
        /* 1 */
      }
      
      /*
       * Extends the .visuallyhidden class to allow the element
       * to be focusable when navigated to via the keyboard:
       * https://www.drupal.org/node/897638
       */
      
      .visuallyhidden.focusable:active,
      .visuallyhidden.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
        white-space: inherit;
      }
      
      /*
       * Hide visually and from screen readers, but maintain layout
       */
      
      .invisible {
        visibility: hidden;
      }
      
      /*
       * Clearfix: contain floats
       *
       * For modern browsers
       * 1. The space content is one way to avoid an Opera bug when the
       *    `contenteditable` attribute is included anywhere else in the document.
       *    Otherwise it causes space to appear at the top and bottom of elements
       *    that receive the `clearfix` class.
       * 2. The use of `table` rather than `block` is only necessary if using
       *    `:before` to contain the top-margins of child elements.
       */
      
      .clearfix:before,
      .clearfix:after {
        content: " ";
        /* 1 */
        display: table;
        /* 2 */
      }
      
      .clearfix:after {
        clear: both;
      }
      
      /* ==========================================================================
         EXAMPLE Media Queries for Responsive Design.
         These examples override the primary ('mobile first') styles.
         Modify as content requires.
         ========================================================================== */

    @media only screen and (min-width:768px) {
        /* Tablet styles here */

        /* General Styles */

        .content-wrapper {
            max-width: 640px;
            margin: 0;
            /*display: flex;
            justify-content: space-around;
            flex-flow: row wrap;*/
        }

        h2 {
            font-size: 2.25em;
            line-height: 1.333;
        }

        h3 {
            font-size: 1.5em;
            line-height: 1.25;
        }

        /* Header */

        header.homepage-header {
            background:url("../img/laptop-background.jpg");
            background-size: cover;
            background-position: center;
            min-height: 450px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        header.homepage-header .content-wrapper {
            width: 100%;
            justify-content: space-between;
        }

        header.homepage-header h1 {
            font-size: 2.25em;
            color: #7A9159;
            padding: 20px 0 80px 0;
        }

        header.homepage-header nav {
            width: 55%;
            padding: 60px 0 110px 0;
            font-size: 1.25em;
        }

        header.homepage-header nav ul {
            display: flex;
            justify-content: space-between;
        }

        header.homepage-header nav ul li a {
            color: #3a3a3a;
        }

        .header-divider {
            display: none;
        }

        header.homepage-header h2 {
            font-family:'Lora', serif;
            font-size: 3em;
            font-weight: 700;
            line-height: 1.115;
            color: #fafafa;
            padding: 20px 0 20px 0px;
        }

        /* About me */

        .about-me h2 {
            font-size: 2.625em;
            padding: 20px 0 0 0;
        }
        
        .bio {
            display: flex;
            justify-content: space-between;
        }

        .bio p {
            width: 45%;
            font-size: 1em;
        }
        
        /* Skills */

        .skills .two-columns {
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
            padding: 10px 0;
        }

        .skills h3 {
            font-size: 2em;
        }

        .skills ul li {
            font-size: 1.5em;
        }

        .skills h3, .skills .skills-wrapper, .skills .tools-wrapper {
            margin: 10px 0 20px 0;
        }

        /* Footer */

        #contact-img {
            width: 350px;
            height: 260px;
        }

        footer.homepage-footer .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        footer.homepage-footer #email-header {
            font-size: 2em;
        }

        footer.homepage-footer .social-icons {
            padding-left: 15px;
        }

        /* ==========================================================================
            Work Page
        ========================================================================== */

        /* General styles */

        .content-wrapper {
            max-width: 640px;
            margin: 0;
        }

        h2 {
            font-size: 2.25em;
            line-height: 1.333;
        }

        h3 {
            font-size: 1.5em;
            line-height: 1.25;
        }

        /* Header */

        header.work-page-header {
            min-height: 450px;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        header.work-page-header .content-wrapper {
            width: 100%;
            justify-content: space-between;
        }

        header.work-page-header h1 {
            font-size: 2.25em;
            color: #7a9159;
            padding: 20px 0 30px 0;
        }

        header.work-page-header nav {
            display: flex;
            justify-content: space-between;
        }

        header.work-page-header nav ul li a {
            color: #3a3a3a;
        }

        .header-divider {
            display: none;
        }

        header.work-page-header h2 {
            font-family: 'Lora', serif;
            font-size: 3em;
            font-weight: 700;
            line-height: 1.115;
            color: #9b9b9b;
            padding: 160px 0 20px 0;
            margin: 0;
        }

        /* Projects */

        .work h3 {
            margin-bottom: 20px;
            width: 85%;
        }

        .work article {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
            flex-flow: column wrap;
            flex-basis: 50%;
        }

        .work figure {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;
            flex-basis: 50%;
            margin: 20px 0;
        }

        .work .project-image {
            /*width: 300px;
            height: 270px;*/
            box-sizing: border-box;
        }

        .work img {
            width: 300px;
            height: 270px;
        }

        .work .project-description {
            width: 85%;
            font-size: 1.143em;
        }

        /* Footer */

        #contact-img {
            width: 350px;
            height: 260px;
        }

        footer.work-page-footer .footer-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }

        footer.work-page-footer #email-header {
            font-size: 2em;
        }

        footer.work-page-footer .social-icons {
            padding-left: 15px;
        }
   
    }

    @media only screen and (min-width:1200px) {
        /* Desktop styles here */

        header {
            padding: 15px 0;
        }

        .content-wrapper {
            max-width: 960px;
        }

        h2 {
            font-size: 2.25em;
        }

        h3 {
            font-size: 1.875em;
        }

        .about-me .bio p {
            font-size: 1em;
            line-height: 1.333;
        }
        
        /* Header */

        header.homepage-header h1 {
            font-size: 2.8125em;
        }

        header.homepage-header {
            min-height: 500px;
            padding-bottom: 150px;
        }

        header.homepage-header h2 {
            font-size: 3.75em;
            width: 90%;
        }

        header.homepage-header .content-wrapper {
            max-width: 1200px;
            width: 90%;
        }

        header.homepage-header nav {
            font-size: 1.375em;
            width: 60%;
        }

        header.homepage-header nav ul {
            width: 80%;
            display: flex;
            justify-content: space-around;
        }

        header.homepage-header nav ul li {
            font-size: 1.125em;
        }

        header.homepage-header nav ul li a {
            font-weight: 700;
        }

        /* About me */

        .about-me .bio {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /*padding: 20px 0 0 0;*/
        }

        .about-me h2 {
            font-size: 2.375em;
        }

        .about-me .bio p {
            width: 45%;
            font-size: 1.125em;
        }

        /* Skills */

        .skills .two-columns {
            width: 100%;
            text-align: center;
            justify-content: center;
            grid-template-columns: 600px 600px;
        }

        /* Footer */

        #contact-img {
            width: 420px;
            height: 260px;
        }
        
        footer.homepage-footer .footer-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        /* ==========================================================================
            Work Page
        ========================================================================== */

        /* Desktop styles here */

        /* General styles */

        header {
            padding: 15px 0;
        }

        .content-wrapper {
            max-width: 960px;
        }

        h2 {
            font-size: 2.25em;
        }

        h3 {
            font-size: 1.875em;
        }

        /* Header */

        header.work-page-header h1 {
            font-size: 3.4375em;
        }

        header.work-page-header {
            min-height: 500px;
            padding-bottom: 150px;
        }

        header.work-page-header h2 {
            font-size: 3.75em;
            width: 90%;
            padding: 240px 40px 20px;
        }

        header.work-page-header .content-wrapper {
            max-width: 1200px;
            width: 90%;
        }

        header.work-page-header nav {
            font-size: 1.125em;
            width: 45%;
        }

        header.work-page-header nav ul li a {
            font-weight: 700;
        }

        /* Projects */

        .work h3 {
            width: 90%;
        }

        .work article {
            flex-basis: 33%;
        }

        .work figure {
            flex-basis: 33%;
        }

        /* Footer */

        #contact-img {
            width: 420px;
            height: 260px;
        }

        footer.work-page-footer .footer-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

    }

          
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }